.navbar{
    width: 100%;
    height: 370px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(225deg, #e21489 0%, #784BA0 50%, #1b81ca 100%);
                  
 }
.logo{
    width: auto;
    height: auto;
    color: white;
    
}
h1{
    font-weight: bolder;
    font-family: 'Silkscreen';
    font-size: 80px;
    float: left;
    margin-right: 6px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
i{

    font-size: 69px;
    float: right;
    margin: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 790px) {
    h1{
        font-size: 70px;
    }
    i{
        font-size: 59px;
    }
   }

@media (max-width: 730px) {

    h1{
        font-size: 60px;
    }
    i{
        font-size: 49px;
    }
   }
   @media (max-width: 580px) {

    h1{
        font-size: 50px;
    }
    i{
        font-size: 39px;
    }
   }
   @media (max-width: 465px) {

    h1{
        font-size: 40px;
    }
    i{
        font-size: 29px;
    }
    
   }
